<?xml version="1.0" ?>
<robot name="srs_modules" xmlns:xacro="http://www.ros.org/wiki/xacro">

<xacro:include filename="$(find srs_modules_description)/urdf/materials.xacro" />
<xacro:include filename="$(find srs_modules_description)/urdf/srs_modules.trans" />
<xacro:include filename="$(find srs_modules_description)/urdf/srs_modules.gazebo" />
<link name="base_link">
  <inertial>
    <origin xyz="1.4261363804378048e-07 1.044383743640896e-12 -0.15064993174648186" rpy="0 0 0"/>
    <mass value="1.0"/>
    <inertia ixx="0.0" iyy="0.0" izz="0.0" ixy="0.0" iyz="0.0" ixz="0"/>
  </inertial>
  <visual>
    <origin xyz="0 0 0" rpy="0 0 0"/>
    <geometry>
      <mesh filename="package://srs_modules_description/meshes/base_link.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silver"/>
  </visual>
  <collision>
    <origin xyz="0 0 0" rpy="0 0 0"/>
    <geometry>
      <mesh filename="package://srs_modules_description/meshes/base_link.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

</robot>
